.block {
  border: 1px solid;
  height: 100px;
  width: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.row {
  display: flex;
}
.board {
  padding: 20px;
}